<a href="/">HOME</a>
<a href="/brands/new">ADD BRAND</a>
<a href="/models/new">ADD MODEL</a>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css"
    <title></title>
  </head>
  <body>




<table style="width:100%">
<section>
  <h2>All Stock</h2>
  <table>
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Model Name</th>
        <th>Style</th>
        <th>Quantity</th>
        <th>Stock Level</th>
        <th>Buy Price</th>
        <th>Retail Price</th>
        <th>Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
      <% @models.each do |model| %>

        <td><%=model.brand.brand_name%></td>
        <td><%=model.model_name%></td>
        <td><%=model.style%></td>
        <td><%=model.quantity%></td>
        <td class="<%=model.stock_level_css%>"><%=model.stock_level%></td>
        <td>£<%=model.buy_price%></td>
        <td>£<%=model.sell_price%></td>
        <td><%=model.calc_markup%>%</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
  </body>
</html>
